body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 10px 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    justify-content: center;
    color: #E5E7EB;
}

/* All css for the Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;`
    padding:  0px 50px;
    height: 50vh;
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.herosub {
    font-size: 18px;
    color: #E5E7EB;
}

/* All css for the Info Section */

.information {
    text-align: center;
    padding: 0px 50px;
    height: 30vh;
}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;;
    margin: 50px;
}

.infocontent {
    display: flex;
    justify-content: center;
    gap: 52px;
}

/* All css for the Quote Section */
.quote {
    padding: 50px 50px;

}

/* All css for the Call Section */

.call {

}

/* All css for the Additional Functionality */

button {
    background-color: #3382f6;
    color: #F9FAF8;
    border-radius: 7px;
    border: 1px solid #3382f6;
    padding: 3px 15px;;
    margin-top: 10px;
}

/* Undo the below - only used to view easily */

img {
    max-width: auto;
    max-height: 100px;
}